.ia_icon{
    background: url(images/iconosimywa.jpg) no-repeat top left;
}



.ia_icon_acrobat{ background-position: 0 0; width: 48px; height: 48px; } 
.ia_icon_anterior{ background-position: 0 -80px; width: 48px; height: 48px; } 
.ia_icon_antes{ background-position: 0 -160px; width: 48px; height: 48px; } 
.ia_icon_descarga1{ background-position: 0 -240px; width: 48px; height: 48px; } 
.ia_icon_descarga2{ background-position: 0 -320px; width: 48px; height: 48px; } 
.ia_icon_despues{ background-position: 0 -400px; width: 48px; height: 48px; } 
.ia_icon_down{ background-position: 0 -480px; width: 48px; height: 48px; } 
.ia_icon_imagen{ background-position: 0 -560px; width: 48px; height: 48px; } 
.ia_icon_imagenes{ background-position: 0 -640px; width: 48px; height: 48px; } 
.ia_icon_next{ background-position: 0 -720px; width: 48px; height: 48px; } 
.ia_icon_papel{ background-position: 0 -800px; width: 48px; height: 48px; } 
.ia_icon_play{ background-position: 0 -880px; width: 48px; height: 48px; } 
.ia_icon_previous{ background-position: 0 -960px; width: 48px; height: 48px; } 
.ia_icon_primero{ background-position: 0 -1040px; width: 48px; height: 48px; } 
.ia_icon_siguiente{ background-position: 0 -1120px; width: 48px; height: 48px; } 
.ia_icon_ultimo{ background-position: 0 -1200px; width: 48px; height: 48px; } 
.ia_icon_up{ background-position: 0 -1280px; width: 48px; height: 48px; } 
.ia_icon_user{ background-position: 0 -1360px; width: 48px; height: 48px; } 

