.ia_labelfield {
	padding-top: 30pt;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ia_inputfield {display: inline-block;}

.ia_componentCard{
	position: absolute;
	overflow: hidden;
	//height: 31px;
}
input[type="text"]
{
	text-align: center;
}
