/****************************************************************************************/
/*											*/
/*				variables imywa						*/
/****************************************************************************************/

/*////////////////////////////variables formheader//////////////////////////////////*/

@ia_bg_headerfrom:rgba(149, 184, 201, 0.71);//#6ba3d4;
@ia_bg_headerto:rgba(149, 184, 201, 0.20);//#afd2ee;
@ia_head_pad:1px 2px 50px 2px;//15px 30px 50px 30px;//40px 40px;
@ia_head_location:relative;
@ia_bd_radius:0em 2em 0em 2em;


/*///////////////////////////variables breadcrumb y toolbar //////////////////////////////////*/

@ia_bg_bread:none;
@ia_bd_bread_radius:0px;
@ia_bread_location:relative;
@ia_bread_margin:-30px;//50px;

	/********breadcrumb************/
@ia_bread_list-style:none;
@ia_bread_font:18px Lucida Sans;//Helvetica, Arial, Sans-Serif;
@ia_span_color:#214225;
@ia_span_padding:5px 0px 5px 15px;
@ia_span_bg:rgb(231, 216, 189);//#f5c040;
@ia_span_child_bg:#f5c040;
@ia_span_child_bd:#f5c040;
@ia_span_hover:#f5e175;

	/*******toolbar*****************/
@ia_tool_float:right;
@ia_tool_right:5%;

/*///////////////////////////variables  formcontent//////////////////////////////////*/

@ia_bgform_cont:white;
@ia_form_location:relative;

/*///////////////////////////variables  framecontainer//////////////////////////////////*/


@ia_frame_bg:white;


/*//////////////////////////variables dashboardcontainer///////////////////////////////*/
@ia_das_width:20%;
@ia_das_position:relative;
@ia_das_float:left;
@ia_das_bg:white;
@ia_das_margin_right:20px;

/*///////////////////////////variables  formfooter//////////////////////////////////*/

@ia_footer_bg: white;
@ia_footer_location:relative;
@ia_footer_height:auto;
@ia_footer_width:100%;
@ia_footer_bottom:0px;
@ia_footer_margin_top:100px;
@ia_footer_float:left;
@ia_footer_margin:30px 10px 0 0px;

/*///////////////////////////variables  statusbar y buttonbar//////////////////////////////////*/
@ia_status_width:20%;
@ia_button_width:80%;
@ia_status_bg:#F0EACD;//#afc0c8;
@ia_status_bd_radius:1px;
@ia_status_height:40px;
@ia_status_bottom:0px;
@ia_status_location:fixed;



